@import '/src/styles.scss';

.artist__header{
  display: flex;
  flex-flow: row nowrap;
  padding: .5rem .5rem 0;

  img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 3px solid $dark_green;
  }

  a,a:visited{
    color: $dark_green;
    text-decoration: none;  
  }

  button{
    margin-left: auto;
    margin-right: 0;
    align-self: center;
    padding: .6rem 1.2rem;
    border-radius: .5rem;
    background-color: $almost_black;
    border: 2px solid rgb(175, 40, 40);
    text-transform: uppercase;
    color: rgb(175, 40, 40);
    transition: all .5s ease;

    &:hover{
      background-color: rgb(175, 40, 40);
      color: $white;
    }
  }
}

.artist__info{
  display: flex;
  flex-flow: column nowrap;
  margin-left: .6rem;

  p{
    margin: 0;
    margin-top: -.5rem;
  }

  h1{
    margin: .5rem 0 0;
    font-size: 2.8rem;
  }

  small{
    text-transform: capitalize;
    font-size: .9rem;
    margin-bottom: -1rem;
  }

  a{
    margin-top: auto;
    margin-bottom: .3rem;
    padding: .3rem .6rem;
    border-radius: .5rem;
    transition: .5s ease all;


    &:hover{
      background-color: $dark_green;
      color: $white;
    }
  }
}

.genres__container{
  display: flex;
  flex-flow: row wrap;
  padding: .5rem .5rem 0;
  gap: .5rem;
  background: rgb(20,16,16);
  background: linear-gradient(180deg,rgba(25,20,20,1)  76%, rgba(20,16,16,1) 100%);

  p{
    background-color: rgb(15, 102, 200);
    padding: .3rem .9rem;
    border-radius: 5rem;
    text-transform: capitalize;
  }
}

.widgetContainer{
  margin-top: 2rem;
  width: 80%;
  margin: 2rem auto 0;
}